body {
  font-family: 'News Cycle', sans-serif;
  background: #efefef;
}

.aside {
  padding: 20px;
}

.aside ul li {
  line-height: 28px;
  height: 28px;
  list-style: none;
}

.aside ul li .marketo-icon {
  color: #6dbe4c;
  width: 24px;
  height: 15px;
  background: url(../images/marketo-logo.png) no-repeat;
  background-size: 20px 15px;
  display: inline-block;
}

.aside .fa {
  color: #6dbe4c;
  width: 24px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

p span.text-center {
  font-size: 18px;
}

strong h1 {
  margin-bottom: 10px;
  padding-top: 0px;
}

.well {
  background: #fff;
}

strong {
  text-align: center;
  padding:10px 20px;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  display: block;
  position: relative;
}

strong span {
  display: block;
}

strong .score {
  font-size: 46px;

}

strong.main-score {
  width: 100%;
  margin-bottom: 5px;
}

strong.main-score small {
  display: block;
}

strong i.icon {
  font-size: 32px;
  color: #6dbe4c;
  position: absolute;
  top: 15px;
  left: 15px;
}

strong .marketo-icon {
  background: url(../images/marketo-logo.png);
  background-size: 40px 30px;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.ticks {
  color: #777;
}

i.fa.fa-info-circle {
  cursor: pointer;
  color: #777;
}

.jumbotron,
.container-fluid .jumbotron,
.container .jumbotron {
  padding-top: 0!important;
  padding-left:0!important;
  padding-right:0!important;
  background: transparent;
  padding-bottom: 0!important;
  margin-bottom: 10px;
}

.container.top-container {
  padding-top: 30px;
  height: 100%;
  position: relative;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 10px;
  margin-top: 0;
}

.btn.btn-primary {
  background: #6dbe2c;
  border: none;
  border-radius; 0!important;
  padding-bottom: 10px;
  font-size: 24px;
}

.progress {
  height: 20px;
  margin-bottom: 5px;
}

.progress .progress-bar {
  background: #706eb3;
  transition: width 2s;
}

.row {
  margin-bottom: 20px;
}

.popover-content {
  font-size: 12px;
  font-family: 'News Cycle', sans-serif;
}

.marketo-lead-record {
  width: 1466px;
  height: 1371px;
  top: -1371px;
  position: relative;
  margin: 0 auto;
}

.marketo-lead-record ul {
  position: absolute;
  z-index: 1;
  font-family: verdana, sans-serif!important;
  font-size: 13.2px;
  color: #444;
  left: 68px;
  list-style: none;
}

.person-info {
  top: 575px;
}

.we-analyze-score-records {
  top: 1040px;
}

.marketo-lead-record li {
  clear: both;
}

.marketo-lead-record ul span {
  width: 216px;
  float: left;
  display: block;
  line-height: 30px;
  height: 30px;
}

.marketo-lead-record ul span.score {
  float: right;
}
